<!DOCTYPE html>
<html>

<head>
  <title>Diary application</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
  <h1>Welcome to <!DOCTYPE html>
    <html>
    
    <head>
      <title>Diary application</title>
      <link rel="stylesheet" type="text/css" href="/styles/main.css">
    </head>
    
    <body>
      <h1>Welcome to your diary <%= username %></h1>
    
      <form action="/menu" method="POST" class="buttons">
        <button type="submit" value="new-post" class="menuButtons" name="choice" formaction="/view-posts">New post</button>
        <button type="submit" value="view-posts" class="menuButtons" name="choice" formaction="/new-post">View posts</button>
        <button type="submit" value="inspiration" class="menuButtons" name="choice" formaction="/inspiration">Get inspired</button>
      </form>
      <div id="contentContainer" class="hidden">
        <%if (locals.entry) {%>
       
       
        <h2><%= entry.name %></h2>
        <!-- Else, show the recipe name e.g. <h2>Recipe name</h2>-->
    
        <ul id="entryList">
          <li>Year <%= entry.date.year %></li>
          <li>Day <%= entry.date.day %></li>
          <li>Month <%= entry.date.month %></li>
          <%};%>
        </ul>
    
    
    
      </div>
    </body>
    
    </html><!DOCTYPE html>
    <html>
    
    <head>
      <title>Diary application</title>
      <link rel="stylesheet" type="text/css" href="/styles/main.css">
    </head>
    
    <body>
      <h1>Welcome to your diary <%= username %></h1>
    
      <form action="/menu" method="POST" class="buttons">
        <button type="submit" value="new-post" name="choice">New post</button>
        <button type="submit" value="view-posts" name="choice">View posts</button>
        <button type="submit" value="inspiration" name="choice">Get inspired</button>
      </form>
      <div id="contentContainer" class="hidden">
        <%if (locals.entry) {%>
       
       
        <h2><%= entry.name %></h2>
        <!-- Else, show the recipe name e.g. <h2>Recipe name</h2>-->
    
        <ul id="entryList">
          <li>Year <%= entry.date.year %></li>
          <li>Day <%= entry.date.day %></li>
          <li>Month <%= entry.date.month %></li>
          <%};%>
        </ul>
    
    
    
      </div>
    </body>
    
    </html><!DOCTYPE html>
    <html>
    
    <head>
      <title>Diary application</title>
      <link rel="stylesheet" type="text/css" href="/styles/main.css">
    </head>
    
    <body>
      <h1>Welcome to your diary <%= username %></h1>
    
      <form action="/menu" method="POST" class="buttons">
        <button type="submit" value="new-post" name="choice">New post</button>
        <button type="submit" value="view-posts" name="choice">View posts</button>
        <button type="submit" value="inspiration" name="choice">Get inspired</button>
      </form>
      <div id="contentContainer" class="hidden">
        <%if (locals.entry) {%>
       
       
        <h2><%= entry.name %></h2>
        <!-- Else, show the recipe name e.g. <h2>Recipe name</h2>-->
    
        <ul id="entryList">
          <li>Year <%= entry.date.year %></li>
          <li>Day <%= entry.date.day %></li>
          <li>Month <%= entry.date.month %></li>
          <%};%>
        </ul>
    
    
    
      </div>
    </body>
    
    </html><!DOCTYPE html>
    <html>
    
    <head>
      <title>Diary application</title>
      <link rel="stylesheet" type="text/css" href="/styles/main.css">
    </head>
    
    <body>
      <h1>Welcome to your diary <%= username %></h1>
    
      <form action="/menu" method="POST" class="buttons">
        <button type="submit" value="new-post" name="choice">New post</button>
        <button type="submit" value="view-posts" name="choice">View posts</button>
        <button type="submit" value="inspiration" name="choice">Get inspired</button>
      </form>
      <div id="contentContainer" class="hidden">
        <%if (locals.entry) {%>
       
       
        <h2><%= entry.name %></h2>
        <!-- Else, show the recipe name e.g. <h2>Recipe name</h2>-->
    
        <ul id="entryList">
          <li>Year <%= entry.date.year %></li>
          <li>Day <%= entry.date.day %></li>
          <li>Month <%= entry.date.month %></li>
          <%};%>
        </ul>
    
    
    
      </div>
    </body>
    
    </html><!DOCTYPE html>
    <html>
    
    <head>
      <title>Diary application</title>
      <link rel="stylesheet" type="text/css" href="/styles/main.css">
    </head>
    
    <body>
      <h1>Welcome to your diary <%= username %></h1>
    
      <form action="/menu" method="POST" class="buttons">
        <button type="submit" value="new-post" name="choice">New post</button>
        <button type="submit" value="view-posts" name="choice">View posts</button>
        <button type="submit" value="inspiration" name="choice">Get inspired</button>
      </form>
      <div id="contentContainer" class="hidden">
        <%if (locals.entry) {%>
       
       
        <h2><%= entry.name %></h2>
        <!-- Else, show the recipe name e.g. <h2>Recipe name</h2>-->
    
        <ul id="entryList">
          <li>Year <%= entry.date.year %></li>
          <li>Day <%= entry.date.day %></li>
          <li>Month <%= entry.date.month %></li>
          <%};%>
        </ul>
    
    
    
      </div>
    </body>
    
    </html><!DOCTYPE html>
    <html>
    
    <head>
      <title>Diary application</title>
      <link rel="stylesheet" type="text/css" href="/styles/main.css">
    </head>
    
    <body>
      <h1>Welcome to your diary <%= username %></h1>
    
      <form action="/menu" method="POST" class="buttons">
        <button type="submit" value="new-post" name="choice">New post</button>
        <button type="submit" value="view-posts" name="choice">View posts</button>
        <button type="submit" value="inspiration" name="choice">Get inspired</button>
      </form>
      <div id="contentContainer" class="hidden">
    
        <%if (locals.entry) {%>
            <ul>
            <% entry.forEach(element => { %>
                <li><%= element %></li>
             
            <% }) %>
            </ul>
       
        <h2><%= entry.name %></h2>
        <!-- Else, show the recipe name e.g. <h2>Recipe name</h2>-->
    
        <ul id="entryList">
          <li>Year <%= entry.date.year %></li>
          <li>Day <%= entry.date.day %></li>
          <li>Month <%= entry.date.month %></li>
          <%};%>
        </ul>
    
    
    
      </div>
    </body>
    
    </html> diary <%= username %></h1>

  <form action="/menu" method="POST" class="buttons">
    <button type="submit" value="new-post" name="choice">New post</button>
    <button type="submit" value="view-posts" name="choice">View posts</button>
    <button type="submit" value="inspiration" name="choice">Get inspired</button>
  </form>
  <div id="contentContainer" class="hidden">
    <%if (locals.entry) {%>
   
   
    <h2><%= entry.name %></h2>
    <!-- Else, show the recipe name e.g. <h2>Recipe name</h2>-->

    <ul id="entryList">
      <li>Year <%= entry.date.year %></li>
      <li>Day <%= entry.date.day %></li>
      <li>Month <%= entry.date.month %></li>
      <%};%>
    </ul>



  </div>
</body>

</html>