<%- include("partials/header.ejs") %>

  
<div class="page-top">
    <a href="/"><img src="/home-icon.png"></a>
    <h1>Welcome to your diary <%= username %></h1> 
</div>

  <form action="/menu" method="GET" class="buttons">
    <button type="submit" value="view-posts" name="choice" class="menuButtons" formaction="/view-posts">View posts</button>
    <button type="submit" value="new-post" name="choice" class="menuButtons" formaction="/add-post">New post</button>
    <button type="submit" value="inspiration" name="choice" class="menuButtons" formaction="/inspiration">Get inspired</button>
  </form>
 
  <div id="contentContainer" class="hidden">
    <%if (locals.entry) {%>
        <ul id="entryList">

            <% entry.forEach(singleEntry => { %>
                <h2><%= singleEntry.title %></h2>
                <li><%= singleEntry.date.day %>/<%= singleEntry.date.month %>/<%= singleEntry.date.year %></li>
                <li class="blog-content"><div class="weather-icon"><img src="/weather-icons/icon-<%= singleEntry.image %>.png"  name="weathericon"></div><p><%= singleEntry.content %></p></li>
                <div class="entry-gap"></div>
            <% }) %>
 
        </ul>
 
      <%};%>

  </div>
  <div class="gap"></div>
</body>

</html>